@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=League+Spartan&family=Marhey:wght@300&display=swap');

* {
    font-family: 'Andika', 'Marhey';
}

body {
    background-image: url("images/back.png");
    background-size: 1280px 650px;
    background-repeat: no-repeat;
}

.box .names {
    margin-top: 8%;
    text-align: center;
}

.box .selfdesc {
    border: 1px solid rgb(117, 117, 117);
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding-right: 10px; /* Adjusted padding */
}

.box .photo {
    text-align: center;

}

.box .photo img {
    width: 300px;
    height: 300px;
}

